*{box-sizing: border-box;}


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');


body, html {
  height: 100%;
  width: 100%;
  margin: 0px;
}

.header {
  max-width: 100%;
  margin: 0 auto;
}

.container1 {
  display: flex;
  flex-direction: row;
  position: relative;
  margin: 0 auto;
}

.menu{
  display: flex;
  position: fixed;
  z-index: 2;
  top: 0;
  color: #f1f1f1;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  font-size: 35px;
  text-align: center;
  justify-content: center;
}

.menu > .akonto > a{
  color: #f1f1f1;
  text-decoration: none;
}

.menu > div > a{
  color: #f1f1f1;
  text-decoration: none;
}

.container2{
  position: absolute;
  top: 15vh;
  color: #f1f1f1; /* Grey text */
  width: 100%;
  font-family: 'Raleway', sans-serif;
  font-size: 35px;
  text-align: center;
  justify-content: center;
}


.line{
  display: flex;
  flex-direction: row;
  order: 2;
  position: fixed;
  top: 0;
  background: rgba(148, 132, 112, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 50px;
}

.content1 {
  position: absolute;
  top: 0;
  color: #f1f1f1;
  width: 100%; /* Full width */
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 'Raleway', sans-serif;
  font-size: 35px;
}

.content2{
  position: absolute; /* Position the background text */
  top: 0; /* At the bottom. Use top:0 to append it to the top */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 'Raleway', sans-serif;
  font-size: 35px;
}

.nadpis{
  font-size: 75px;
}

.menu > div{
  text-align: center;
  padding: 25px 50px;
  color: #f1f1f1;
}

.akonto{
  margin-right: auto;
}

.mainpic{
  position: relative;
  filter: grayscale(100%) brightness(50%);
  width: 100%;
}

.menu2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(148, 132, 112, 0.5);
}

.menu2 > div{
  display: flex;
  flex-direction: column;
  color:#f1f1f1; /* Grey text */
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 25px;
}

.menu2 > div > p{
  margin: 20px;
}

.more {
  border-color: #e7e7e7;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0);
  padding: 5px 30px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
}

.more:hover {
  background: #e7e7e77c;
}

.number{
  font-size: 80px;
  margin: 20px;
  font-weight: bolder;
}

.menu2 > div > button{
  width: 200px;
  height: 40px;
}

.mainpic2{
  position: relative;
  filter: grayscale(100%) brightness(50%);
  width: 100%;
}

.intro{
  display: flex;
  flex-direction: row;
  width: 100%;
  color: #000000;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.container3{
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}

.container3 > p{
  display: flex;
  position: absolute;
  padding-bottom: 0;
  font-family: 'Raleway', sans-serif;
  color: #f1f1f1;
  font-size: 200px;
  text-align: center;
  justify-content: center;
}

.pic{
  max-width: 500px;
  z-index: -1;
}

.intro > .textholder{
  margin-left: 5%;
  width: 50%;
}

.textholder > p{
  font-size: 19px;
  text-align: left;
  line-height: 1.6;
}

.background{
  width: 100%;
  height: 450px;
  position: relative;
  background: url('images/mainpic2.jpg');
  background-size: cover;
  background-position: center bottom;
  margin-bottom: 100px;
}

.background > p{
  font-size: 200px;
  color: white;
  font-family: 'Raleway', sans-serif;
  position: absolute;
  z-index: 2;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  line-height: 1;
  margin: 0;
}

.background::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  background: rgba(148, 132, 112, 0.65);
}

.but-cennik{
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.button{
  border-color: #000000;
  color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0);
  padding: 5px 30px;
  margin: 0 auto;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
}

.button:hover {
  background: #e7e7e77c;
}

.podrobnosti{
  text-align: left;
  justify-content: center;
  margin: 0 auto;
}

.popis{
  position: relative;
  width: 50%;
  justify-content: left;
  padding-top: 50px;
  margin-top: -100px;
  margin-left: 100px;
}

.right{
  margin-right: 0;
  margin-left: auto;
}

.popis > div{
  display: flex;
  justify-content: left;
  font-family: 'Raleway', sans-serif;
}

.popis > p{
  font-family: 'Raleway', sans-serif;
  font-size: 19px;
  margin: 0;
}

.big-number{
  position: absolute;
  font-size: 250px;
  font-weight: bold;
  margin: 0 auto;
  margin-left: 50px;
  top: 0;
  color: #9e9e9e7c;
}

.heading{
  font-size: 50px;
  text-align: left;
  margin: 0;
  margin-left: 200px;
  margin-top: 50px;
}